body {
  display: grid;
  place-content: center;
  height: 100dvh;
  min-width: 20rem;
}
main {
  border: 0.1rem solid rgb(204, 204, 204);
  position: relative;
}
main input {
  opacity: -1;
  position: absolute;
}
main label {
  background-color: rgb(244, 244, 244);
  padding: 0.5rem 0.6rem;
  border: 0.1rem solid rgb(204, 204, 200);
  margin: 0 -0.3rem;
  cursor: pointer;
}
main input:focus + label {
  background-color: rgb(178, 215, 229);
}
