@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;600;&display=swap");
body {
  font-family: "Inter", sans-serif;
  display: grid;
  place-content: center;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  min-width: 12.5rem;
}
.main {
  border: 0.1rem solid rgb(204, 204, 204);
  position: relative;
  margin-right: -0.2rem;
}
.main input {
  opacity: -1;
  position: absolute;
}
.main label {
  display: inline;
  background-color: rgb(244, 244, 244);
  padding: 0.5rem 0.6rem;
  border: 0.1rem solid rgb(204, 204, 200);
  margin-left: -0.3rem;
  cursor: pointer;
}
.main input:focus + label {
  background-color: rgb(178, 215, 229);
}
@media only screen and (max-width: 300px) {
  .main label {
    display: block;
    width: 10rem;
  }
}
