$main-color: rgb(0, 12, 36);
$bg-body: rgb(234, 244, 254);
$html-color: rgb(233, 98, 40);
$css-color: rgb(102, 51, 153);
$bs-color: rgb(111, 44, 244);
$sass-color: rgb(206, 25, 251);
$min-width: 22.688rem;
body {
  background-color: $bg-body !important;
  min-width: $min-width;
}

.header-top,
footer {
  background-color: $main-color;
}

a:hover .html {
  border-bottom: 0.2rem solid $html-color;
  padding-bottom: 0.5rem;
}
a:hover .css {
  border-bottom: 0.2rem solid $css-color;
  padding-bottom: 0.5rem;
}

a:hover .bs {
  border-bottom: 0.2rem solid $bs-color;
  padding-bottom: 0.5rem;
}
a:hover .sass {
  border-bottom: 0.2rem solid $sass-color;
  padding-bottom: 0.5rem;
}
