$main-color: rgb(0, 12, 36);
$bg-body: rgb(234, 244, 254);
$html-color: rgb(233, 98, 40);
$css-color: rgb(102, 51, 153);
$bs-color: rgb(111, 44, 244);
$sass-color: rgb(206, 25, 251);
$min-width: 20rem;
body {
  background-color: $bg-body !important;
  min-width: $min-width;
}

.header-top,
footer {
  background-color: $main-color;
}

.btn:hover {
  background-color: $bg-body !important;
  color: $main-color !important;
}
