:root {
  --main-color: rgb(0, 12, 36);
  --bg-body: rgb(234, 244, 254);
  --html-color: rgb(233, 98, 40);
  --css-color: rgb(102, 51, 153);
  --bs-color: rgb(111, 44, 244);
  --sass-color: rgb(206, 25, 251);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-body);
  text-align: center;
}

header {
  text-align: center;
}

.header-top img {
  margin: 1rem;
}

.header-top {
  background-color: var(--main-color);
}

.header-bottom {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

h4 {
  margin-bottom: 2rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
}

a {
  text-decoration: none;
}

a:hover .html {
  border-bottom: 0.2rem solid var(--html-color);
  padding-bottom: 0.5rem;
}
a:hover .css {
  border-bottom: 0.2rem solid var(--css-color);
  padding-bottom: 0.5rem;
}

a:hover .bs {
  border-bottom: 0.2rem solid var(--bs-color);
  padding-bottom: 0.5rem;
}
a:hover .sass {
  border-bottom: 0.2rem solid var(--sass-color);
  padding-bottom: 0.5rem;
}
