body {
  justify-content: center;
  display: flex;
  min-width: 20rem;
}

main {
  border: 0.1rem solid grey;
  width: 39.9rem;
  padding-bottom: 1rem;
  margin: 2rem 1rem 0 1rem;
}

.header {
  padding: 0.6rem;
  font-weight: bold;
}

.header img {
  float: right;
}

.image img {
  width: 39.9rem;
}

.icon {
  padding: 0 0.6rem;
}

.icon img {
  padding: 0.3rem 0.1rem;
}

.share {
  margin-bottom: -0.2rem;
}

.icon-right {
  float: right;
}

.text {
  margin-top: 0.5rem;
  padding: 0 0.4rem 0 0.8rem;
}

.text strong {
  padding-right: 0.3rem;
}

@media only screen and (max-width: 648px) {
  .main,
  .image img {
    width: 100%;
    height: auto;
  }
}
