@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
body {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Cabin", sans-serif;
  min-width: 10rem;
  margin: 0;
}

main {
  border: 0.1rem solid grey;
  width: 39.9rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.icon,
.text {
  padding-left: 0.6rem;
}

.header {
  padding: 0.6rem;
}

.header img {
  font-size: 1.5rem;
  float: right;
}

.image img {
  width: 39.9rem;
  height: 22.3rem;
}

.icon img {
  padding: 0.3rem 0.1rem;
}

.share {
  position: relative;
  top: 0.2rem;
}

.icon-right {
  float: right;
  margin-right: 0.5rem;
}

.text {
  margin-top: 0.5rem;
}

.text strong {
  padding-right: 0.3rem;
}

.text span {
  font-size: 0.96rem;
}

@media only screen and (max-width: 648px) {
  .main,
  .image img {
    width: 100%;
    height: auto;
  }
}
