$main-color: rgb(0, 12, 36);
$bg-body: rgb(234, 244, 254);
$bs-color: rgb(111, 44, 244);
$sass-color: rgb(206, 25, 251);
$border-width: 0.2rem;
$border-style-dashed: dashed;
$border-style-solid: solid;
$min-width: 20rem;

body {
  background-color: $bg-body;
  min-width: $min-width;
}

.header-top,
footer {
  background-color: $main-color;
}

li a {
  border: $border-width $border-style-dashed $sass-color;
  color: $bs-color;
}

li a:hover {
  background-color: $sass-color;
  color: $bs-color;
  border: $border-width $border-style-solid $bs-color;
}

.btn:hover {
  background-color: white;
  color: black !important;
}
