body {
  background-color: rgb(244, 244, 245);
  justify-content: center;
  align-content: center;
  place-items: center;
  height: 100dvh;
  min-width: 21.5em;
}

.content {
  background-color: white;
  padding: 0.7rem;
  border-radius: 0.8rem;
  color: rgb(118, 118, 127);
}

.top img {
  width: 3rem;
  height: 3rem;
  float: left;
  padding: 0.5rem;
}

.text {
  display: inline-block;
  padding-left: 0.5rem;
  line-height: 0;
}

.text h2 {
  color: black;
  padding-bottom: 0.5rem;
}

.dot {
  display: inline-block;
  background-color: rgb(118, 118, 127);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
}

.text p {
  display: inline;
  padding-right: 0.4rem;
}

.img-under {
  padding-left: 4.3rem;
}

.img-upper {
  left: -0.8rem;
  position: relative;
}

.bottom span {
  position: relative;
  left: -0.4rem;
  top: -0.4rem;
}

@media only screen and (max-width: 417px) {
  .content {
    font-size: 80%;
  }
}
