* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 20rem;
}
.header {
  margin: 0.5rem;
}
.header img {
  width: 100%;
  object-fit: cover;
  height: 12.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile img {
  width: 9.5rem;
  margin-top: -5rem;
  border-radius: 50%;
  border: 0.3rem solid white;
}
.profile h1 {
  display: inline-block;
  position: relative;
  top: -0.8rem;
}

.contact button {
  display: inline-block;
  border: 0.1rem solid rgb(156, 163, 175);
  background-color: white;
  color: rgb(156, 163, 175);
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem 1.2rem;
}

button span {
  position: relative;
  margin-left: 0.3rem;
  top: -0.25rem;
}

@media only screen and (max-width: 640px) {
  .profile h1 {
    display: block;
  }
  .info {
    flex-direction: column;
  }
  .profile img {
    margin-left: 2rem;
  }
  .contact button {
    width: 100%;
    margin-top: 1rem;
  }
}
