@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;600;&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  min-width: 18.75rem;
}
.header {
  margin: 0.5rem;
}
.header img {
  width: 100%;
  object-fit: cover;
  height: 12.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile img {
  width: 9.5rem;
  margin-top: -5rem;
  border-radius: 50%;
  border: 0.3rem solid white;
}
.profile h1 {
  display: inline-block;
  position: relative;
  top: -0.8rem;
}
.contact {
  margin-right: 3rem;
}
.contact button {
  display: inline-block;
  border: 0.1rem solid rgb(156, 163, 175);
  background-color: white;
  color: rgb(156, 163, 175);
  cursor: pointer;
  border-radius: 0.4rem;
}
.message,
.call {
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
}
.message span,
.call span {
  position: relative;
  margin-left: 0.3rem;
  top: -0.25rem;
}
.contact button svg {
  width: 1.5rem;
  border: none;
  padding-left: 0.2rem;
}
@media only screen and (max-width: 950px) {
  .contact {
    margin-right: 0;
  }
}
@media only screen and (max-width: 750px) {
  .profile h1 {
    display: block;
  }
  .info {
    flex-direction: column;
  }
  .profile img {
    margin-left: 2rem;
  }
  .contact button {
    width: 100%;
    margin-top: 1rem;
  }
}
