* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: rgb(145, 142, 152);
  padding: 0.5rem;
}

.left {
  margin-top: -0.9rem;
}

.left img {
  padding: 0.5rem 0 0 0.5rem;
}

.left span {
  font-weight: bolder;
  color: white;
  display: inline-block;
  position: relative;
  top: -0.5rem;
  left: -0.3rem;
}

.center ul {
  list-style-type: none;
  text-align: center;
}

.center ul li {
  padding: 0 1rem;
  display: inline-block;
}

.btn {
  background-color: rgb(75, 71, 227);
  color: white;
  border: 0.1rem solid rgb(75, 71, 227);
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
  margin-left: 0.4rem;
  font-weight: bold;
}

.center-responsive ul {
  background-color: rgb(145, 142, 152);
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  visibility: hidden;
}

.center-responsive ul li {
  display: inline;
  padding: 0 1.5rem;
  color: white;
}

@media only screen and (max-width: 640px) {
  .center {
    display: none;
  }

  .center-responsive ul {
    visibility: visible;
    width: 100%;
  }
}
