body {
  background-color: rgb(246, 246, 246);
  display: grid;
  place-content: center;
  height: 100dvh;
  min-width: 25rem;
}

header h2 {
  text-align: center;
}

header span {
  color: rgb(76, 179, 242);
}

.container {
  display: inline-block;
  border: 0.1rem solid rgb(246, 246, 246);
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 25rem;
}

input {
  display: block;
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
  border: 0.1rem solid rgb(220, 220, 224);
  border-radius: 0.4rem;
}

#checkbox {
  width: 1rem;
  display: inline;
  position: relative;
  top: 0.05rem;
}

.forget-password {
  float: right;
  margin-top: 0.5rem;
  color: rgb(80, 70, 228);
  text-decoration: none;
}

.btn {
  background-color: rgb(80, 70, 228);
  color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.4rem;
  cursor: pointer;
}

.fa-lock {
  width: 1rem;
  float: left;
  opacity: 20%;
  padding-left: 0.4rem;
}

.line {
  position: relative;
  text-align: center;
  color: rgb(113, 113, 122);
  margin-top: 2rem;
}

.line:before,
.line:after {
  content: "";
  position: absolute;
  background: rgb(212, 212, 216);
  height: 0.01rem;
  width: 7.5rem;
  display: block;
  top: 0.55rem;
}

.line:before {
  left: 0.7rem;
}

.line:after {
  right: 0.71rem;
}

.contact div {
  display: inline-block;
  border: 0.1rem solid rgb(220, 220, 224);
  border-radius: 0.5rem;
  width: 11.5rem;
  padding: 0.4rem 0.3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.contact i {
  color: rgb(113, 113, 122);
  font-weight: bold;
}

.footer-title {
  text-align: center;
  color: black;
  font-size: 1rem;
}

.footer-title strong {
  color: rgb(80, 70, 228);
  cursor: pointer;
}

.footer-text {
  color: rgb(113, 113, 122);
  font-size: 0.9rem;
}
@media only screen and (max-width: 500px) {
  .container {
    width: 20rem;
  }
  .line:before,
  .line:after {
    width: 5rem;
  }

  .contact div {
    display: block;
    width: 96%;
  }
}
