@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  display: grid;
  width: 100dvw;
  margin: 0;
}

main {
  margin: 10rem auto;
}

header {
  display: inline;
  text-align: center;
  margin: 2rem 1rem 0 1rem;
}

header h1 {
  font-weight: 900;
  margin-bottom: 0.5rem;
}

header span {
  display: block;
  color: rgb(75, 85, 99);
}

.card {
  border: 0.1rem solid white;
  margin: 2rem 1rem 0 1rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.37rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  display: flex;
}

.left {
  padding: 2rem 5rem 0 3rem;
}

.line {
  position: relative;
  color: rgb(79, 70, 229);
  font-weight: bold;
  margin-top: 1.5rem;
}

hr {
  margin: -1.5rem -0 0 10rem;
  width: 75%;
}

ul {
  columns: 2;
}

ul li {
  list-style: url(assets/check-icon.svg);
  font-size: 2rem;
  margin-left: 1rem;
}

ul li p {
  font-size: 1rem;
}

.list {
  margin-top: -0.01rem;
}

.right {
  background-color: rgb(243, 244, 246);
  text-align: center;
  padding: 0 0.1rem;
}

.right p {
  margin-top: 3rem;
  font-weight: bold;
}

.right h1 {
  display: inline;
}

.usd {
  position: relative;
  top: -0.5rem;
  left: 0.4rem;
}

.right a {
  display: block;
  color: rgb(107, 114, 143);
  margin: 0.5rem 0 1.2rem 0;
  padding: 0 2rem;
}

.btn {
  display: block;
  background-color: rgb(31, 41, 55);
  color: white;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.right h4 {
  display: inline-block;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 665px) {
  hr {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    font-size: 120%;
  }

  .card {
    display: inline-block;
  }

  hr {
    margin: 1.5rem 0 0 0em;
    width: 30rem;
  }

  ul {
    columns: 1;
    margin: 2rem 0 0 0;
  }

  ul li p {
    font-size: 65%;
    padding-left: 3rem;
  }

  .right {
    margin-top: 0;
    padding-top: 0.001rem;
  }

  .btn {
    width: 97%;
    font-size: 90%;
  }
}
