$n-margin: -0.75rem;
$dot-measure: 0.6rem;
$min-width: 20rem;
$place-content: center;

body {
  min-width: $min-width;
  place-content: $place-content;
}
.img2 {
  margin-left: $n-margin;
}
.dot {
  width: $dot-measure;
  height: $dot-measure;
}
