@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;600;&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  min-width: 21.625rem;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(24, 24, 26);
  color: rgb(145, 142, 152);
}

.left {
  position: relative;
  top: -0.2rem;
}

.left img {
  width: 2rem;
  padding: 0.8rem 0 0 0.5rem;
}

.left span {
  font-weight: bolder;
  color: white;
  display: inline-block;
  position: relative;
  top: -0.4rem;
  left: -0.2rem;
}

.center ul {
  list-style-type: none;
  text-align: center;
}

.center ul li {
  padding: 0 1rem;
  display: inline-block;
}

.btn {
  background-color: rgb(75, 71, 227);
  color: white;
  border: 0.1rem solid rgb(75, 71, 227);
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
  margin-left: 0.4rem;
  font-weight: bold;
}

.center-responsive ul {
  background-color: rgb(145, 142, 152);
  height: 2rem;
  align-content: center;
  justify-content: center;
  display: flex;
  padding-top: 0.5rem;
  visibility: hidden;
}

.center-responsive ul li {
  display: inline;
  padding: 0 2rem;
  color: white;
}

@media only screen and (max-width: 640px) {
  .center {
    display: none;
  }

  .center-responsive ul {
    visibility: visible;
    width: 100%;
    /* min-width: 21.625rem; */
  }

  .center-responsive ul li {
    padding: 0 1rem;
  }
  .container {
    display: flex;
  }
}
