:root {
  --main-color: rgb(0, 12, 36);
  --bg-body: rgb(234, 244, 254);
  --html-color: rgb(233, 98, 40);
  --css-color: rgb(102, 51, 153);
  --black: black;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-body);
}

header {
  text-align: center;
}

.header-top img {
  margin: 1rem;
}

.header-top {
  background-color: var(--main-color);
}

.header-bottom {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 0;
}

img {
  border: 0.2rem solid var(--white);
  border-radius: 1rem;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 1.5rem 1rem;
}

li a {
  text-decoration: none;
  border: 0.2rem dashed var(--css-color);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--html-color);
  width: 14rem;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

li a:hover {
  background-color: var(--css-color);
  color: var(--html-color);
  border: 0.2rem solid var(--html-color);
}

@media only screen and (max-width: 548px) {
  header {
    width: 548px;
  }

  .main {
    flex-direction: column;
  }

  .main-right {
    margin-top: -1.5rem;
  }

  li a {
    width: 25rem;
    margin: 0.1rem 3rem;
  }
}
