body {
  font-family: "Inter", sans-serif;
}

.heading,
li {
  margin-left: 2rem;
}

strong {
  font-weight: bolder;
}

ol li {
  padding-bottom: 1rem;
}

li a {
  color: black;
  text-decoration: none;
}

p {
  margin-left: 2rem;
}

span {
  color: red;
}
