* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 20rem;
}

main {
  height: 100dvh;
  display: flex;
}

nav {
  width: 13rem;
  background-color: rgb(244, 244, 245);
  padding: 0.5rem 1rem;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  display: inline;
}

.btn {
  border: 0.1rem solid rgb(254, 226, 225);
  background-color: rgb(254, 226, 225);
  border-radius: 1.25rem;
  padding: 0.2rem 0.5rem;
  color: rgb(153, 27, 27);
  font-weight: bold;
}

.dot {
  display: inline-block;
  color: rgb(153, 27, 27);
  background-color: rgb(180, 36, 0);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

.hvr li:hover {
  background-color: rgb(240, 237, 237);
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 1rem 0 1.7rem 0;
}

ul li {
  margin: 0.7rem 0;
  padding: 0.3rem 0;
  cursor: pointer;
}

li img {
  padding: 0 0.625rem;
}

.active {
  background-color: rgb(232, 232, 233);
  font-weight: bold;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.upper {
  position: relative;
  top: 0.6rem;
}

@media only screen and (max-width: 450px) {
  nav {
    width: 7.5rem;
    font-size: 80%;
  }
  img {
    display: none;
  }
  .btn {
    display: inline-block;
    margin: 0.5rem 0 0 2.5rem;
  }
  ul li {
    margin: 0 0.5rem;
  }
}
